<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/feed.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Feed Palavras</title>
</head>

<body>
    <div class="circle"></div>
    <div class="header">
        <div class="sides">
            <a href="{{ url_for('index') }}" class="logo">Youtube<span>Analiser</span></a>
        </div>
        <div class="spinner-box">
            </div>  
          </div>
        <body>
        <div class="info">
            <h1>YOUTUBE ANALISER</h1>
            <div class="info-links">
                <h4><a href="{{ url_for('feed_palavras') }}" class="a-class">ANÁLISE</a></h4>
            </div>
        </div>
    </div>
    
    <div class="container">
        <h2>Feed de Palavras YouTube</h2>
        <div class="feedleft">
        <form method="POST">
            <input type="text" name="palavras_frequentes" placeholder="   Pesquisar palavras frequentes">
            <div class="buttonright">
            <button type="submit">Pesquisar</button>
        </div>
        </form>
    </div>
        <h2>Vídeos em Alta com a Palavra-chave: {{ palavra }}</h2>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                {% for video in videos %}
                <tr>
                    <td>{{ video.titulo }}</td>
                    <td><a href="{{ video.url }}">{{ video.url }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>

</html>