<!DOCTYPE html>
<html>

<head>
    <title>Análise de Sentimento de Vídeos do YouTube</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="header">
        <div class="sides">
          <a href="#" class="logo">Youtube<span>Analiser</span></a>
        </div>
        <div class="info">
            <h1>YOUTUBE ANALISER</h1>
            <h4><a href="{{ url_for('index') }}" class="a-class">UI DESIGN</a></h4>
        </div>
      </div>
    <!-- <header>
        <nav class="nav-box">
            <h1 class="main-title">Youtube Analiser</h1>
            <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('feed_palavras') }}">FeedPalavras</a></li>
            </ul>
        </nav>
    </header> -->
    <div class="container">

        <h2>Análise de Sentimento de Vídeos do YouTube</h2>
        <form action="/analisar" method="POST">
            <input type="text" name="video_link" placeholder="Insira o link do vídeo">
            <input type="text" name="video_link_second" placeholder="Insira o link do segundo vídeo">
            <button type="submit">Analisar</button>
        </form>
        {% if error_message %}
        <p class="error">{{ error_message }}</p>
        {% else %}
        {% if comments %}
        <div class="row">
            <div class="col-left">
                <div id="results" class="analysis-section">
                    <h3>Análise do Primeiro Vídeo</h3>
                    <div class="sentiment">
                        {% if video_name %}
                        <h3>{{ video_name }}</h3>
                        {% endif %}
                        <p>Média de Sentimento: {{ average_score }}%</p>
                        <p>Comentários Positivos: {{ positive_percentage }}%</p>
                        <p>Comentários Negativos: {{ negative_percentage }}%</p>
                    </div>
                    <ul class="comments">
                        {% for comment in comments %}
                        <li>
                            <span class="author">{{ comment.author }}:</span>
                            <span
                                class="{% if comment.sentiment == 'NEGATIVE' %}negative{% elif comment.sentiment == 'POSITIVE' %}positive{% endif %}">
                                {{ comment.sentiment }}:
                            </span>
                            <span class="text">{{ comment.text }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <button id="compare-button" onclick="createComparisonChart()">Comparar</button>
            <div class="col-right">
                <div class="analysis-section">
                    <h3>Análise do Segundo Vídeo</h3>
                    <div class="sentiment">
                        {% if video_name %}
                        <h3>{{ video_name_second }}</h3>
                        {% endif %}
                        <p>Média de Sentimento: {{ average_score_second }}%</p>
                        <p>Comentários Positivos: {{ positive_percentage_second }}%</p>
                        <p>Comentários Negativos: {{ negative_percentage_second }}%</p>
                    </div>
                    <ul class="comments">
                        {% for comment in comments_second %}
                        <li>
                            <span class="author">{{ comment.author }}:</span>
                            <span
                                class="{% if comment.sentiment == 'NEGATIVE' %}negative{% elif comment.sentiment == 'POSITIVE' %}positive{% endif %}">
                                {{ comment.sentiment }}:
                            </span>
                            <span class="text">{{ comment.text }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="chart-section">
            <canvas id="chart"></canvas>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <script>
        function createComparisonChart() {
            // Obtém os dados dos vídeos
            var videoName = "{{ video_name }}";
            var averageScore = {{ average_score }}
        var positivePercentage = {{ positive_percentage }};
        var negativePercentage = {{ negative_percentage }};

        var videoNameSecond = "{{ video_name_second }}";
        var averageScoreSecond = {{ average_score_second }};
        var positivePercentageSecond = {{ positive_percentage_second }};
        var negativePercentageSecond = {{ negative_percentage_second }};

        // Cria o gráfico usando Chart.js
        var ctx = document.getElementById('chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Média de Sentimento', 'Comentários Positivos', 'Comentários Negativos'],
                datasets: [{
                    label: videoName,
                    data: [averageScore, positivePercentage, negativePercentage],
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                },
                {
                    label: videoNameSecond,
                    data: [averageScoreSecond, positivePercentageSecond, negativePercentageSecond],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        // Role a página até o gráfico
        document.getElementById('chart-section').scrollIntoView();
        }
    </script>
</body>

</html>