<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Análise de Comentários do YouTube</title>
    <link rel="stylesheet" href="../static/css/style.css" </head>

<body>
    <div class="container">
        <h1>Análise de Comentários do YouTube</h1>
        <form action="/analisar" method="post">
            <input type="text" name="video_link" placeholder="Insira o link do vídeo do YouTube">
            <button type="submit">Analisar</button>
        </form>

        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}

        {% if comments %}
        <div id="results">
            <h2>Média de Sentimento: {{ average_score }}%</h2>
            <p>Comentários Positivos: {{ positive_percentage }}%</p>
            <p>Comentários Negativos: {{ negative_percentage }}%</p>
            <h3>Comentários:</h3>
            <ul>
                {% for comment in comments %}
                <li>
                    {{ comment.author }} - {% if comment.sentiment == 'NEGATIVE' %}<span
                        style="color: red;">NEGATIVO</span>{% elif comment.sentiment == 'POSITIVE' %}<span
                        style="color: green;">POSITIVO</span>{% endif %}: {{ comment.text }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</body>

</html>