.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
}

.col-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.negative {
    color: red;
}

.positive {
    color: green;
}

h2 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
}


.sentiment {
    margin-bottom: 20px;
    text-align: center;
}

.comments li {
    margin-bottom: 10px;
}

.analysis-section {
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}