@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i");

a {
    text-decoration: none;
}

h4 .header {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 50vw;
    min-height: 400px;
    max-height: 550px;
    min-width: 300px;
    color: #eee;
}

body::before {
    content: "";
    width: 100%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    scale: 1, 1;
    transform: translateZ(0);
    background: #1b2030 url("../imgs/background.jpg") 50% 0 no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    z-index: -2;
}

.header a {
    color: #eee;
    padding: 10px;
    margin-left: 20px;
}

.info-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info h1 {
    color: #ffffff;
}

.menu {
    display: block;
    width: 40px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 3px;
    position: absolute;
    right: 20px;
    top: 20px;
    text-decoration: none;
}

.menu:after {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    margin: 0 auto;
    top: 5px;
    left: 0;
    right: 0;
    box-shadow: 0 8px, 0 16px;
}

.logo {
    border: 2px solid #fff;
    border-radius: 3px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    align-content: center;
    margin: 20px;
    padding: 0px 10px;
    font-weight: 900;
    font-size: 1.1em;
    line-height: 1;
    box-sizing: border-box;
    height: 50px;
}

.sides,
.info {
    flex: 0 0 auto;
    width: 50%;
}

.info {
    width: 100%;
    height: 150px;
    padding-bottom: 40px;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

@keyframes grow {
    0% {
        transform: scale(1) translateY(0px);
    }

    50% {
        transform: scale(1.2) translateY(-400px);
    }
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    background-color: #293049;
}

.main-title {
    color: white;
}

.nav-box ul {
    display: flex;
    list-style: none;
    background: linear-gradient(#212534, #293049);
    height: 85px;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    opacity: 0.7;
    background-color: #00bfff;
}

#myContainer {
    transition: opacity 0.5s ease;
}


.container h2 {
    color: #ffffff;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-left {
    height: 600px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-right {
    height: 600px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.negative {
    color: red;
}

.positive {
    color: green;
}

h2 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 50%;
    margin-bottom: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
}

.sentiment {
    margin-bottom: 20px;
    text-align: center;
}

.comments li {
    margin-bottom: 10px;
}

.analysis-section {
    max-height: 1000px;
    height: 800px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
}

.nav-box {
    /* margin-top: 40px; */
    padding: 24px 0px 0px 0px;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: #212534;
    height: 150px;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}

.a-class {
    transition: 0.3s ease;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 20px 0;
    margin: 30px 20px 0px 0px;
}

.a-class:hover {
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px;
    color: #ffffff;
}

.logo {
    transition: 0.3s ease;
    color: #ffffff;
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 20px 0;
    margin: 30px 20px 0px 0px;
}

.logo:hover {
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px;
    color: #00bfff;
}

.nav-items {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.logo {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #00bfff;
    /* Cor azul */
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo span {
    color: #ffffff;
}

.info h4 {
    margin-top: 40px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
}

.video-links {
    display: flex;
    flex-direction: column;
}

.video-link-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-link-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    float: left;
}

.scroll {
    overflow: auto;
    float: left;
    margin: 0 10px;
    border-radius: 30px 0px 0px 30px;
}

.scroll4::-webkit-scrollbar {
    width: 10px;
}

.scroll4::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

.scroll4::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

.chart-section {
    bottom: 10px;
    justify-self: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    visibility: hidden;
}